<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Notificación de Próximos Vencimientos de Resolución de Facturación
    </title>
    <style>
      /* Estilos Globales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        max-width: 600px;
        margin: 0px auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      /* Estilos del Contenedor Principal */
      .container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 36px;
        margin-bottom: 0px;
      }
      /* Estilos del Título Principal */
      h1 {
        color: #333333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
      }
      /* Estilos de las Resoluciones */
      .resolucion {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 20px 0px;
      }
      /* Estilos de los Detalles de Resolución */
      .resolucion p {
        margin: 5px 0;
        font-size: 14px;
        color: #666666;
      }
      .resolucion p strong {
        color: #333333;
      }
      /* Estilos del Pie de Página */
      .footer {
        text-align: center;
        font-size: 12px;
        color: white;
        background: #1a1f3d;
        padding: 10px;
      }
      .footer a {
        text-decoration: none;
        color: white;
      }
      .footer a:hover {
        text-decoration: underline;
      }
      /* Estilos de la Imagen en el Pie de Página */
      .footer img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .button_link {
        text-align: center;
        background: #fde047;
        padding: 7px 15px;
        text-decoration: none;
        color: black;
        border-radius: 17px;
      }
      .mensaje {
        font-weight: 500;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Notificación de Próximos Vencimientos de Resolución de Facturación
      </h1>
      <!-- Iteración sobre las Resoluciones -->
      {% if record %} {% for auth in record %}
      <div class="resolucion">
        <p><strong>Resolución:</strong> {{ auth['resolution'].number }}</p>
        <p><strong>Desde:</strong> {{ auth['resolution'].start_date_auth }}</p>
        <p><strong>Hasta:</strong> {{ auth['resolution'].end_date_auth }}</p>
        <p>
          <strong>Rango:</strong> desde {{ auth['resolution'].from_auth }} hasta {{
            auth['resolution'].to_auth }}
        </p>
        <p>
          <strong>Razon:</strong> {{auth['msg']}}
        </p>
      </div>
      {% endfor %} {% endif %}
      <!-- Mensaje con URL -->
      <div class="mensaje">
        <p>
          Para seguir los pasos de la renovación de resolución en el sistema,
          visita:
        </p>
        <a
          href="https://docs.presik.com/docs/contabilidad/guia-renovacion-autorizacion-de-renovacion"
          target="_blank"
          class="button_link"
          >Guía renovación autorización de resolución</a
        >
      </div>
      <!-- Pie de Página con Imagen -->
    </div>
    <div class="footer">
      <img
        src="https://www.presik.com/static/media/logo-white.13ac1f7e.webp"
        alt="Logo"
        title="Logo"
        height="40"
      />
      <p>Correo enviado automáticamente desde sistema ERP Presik</p>
      <p>
        <a href="https://www.presik.com" target="_blank">www.presik.com</a>
      </p>
    </div>
  </body>
</html>