<!DOCTYPE html>
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="x-apple-disable-message-reformatting" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="telephone=no" name="format-detection" />
  <title>Certificado Retención</title>
  <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet" />
  <style type="text/css">
    @media only screen and (max-width: 600px) {
      *[class="gmail-fix"] {
        display: none !important;
      }

      p,
      a {
        line-height: 150% !important;
      }

      h1,
      h1 a {
        line-height: 120% !important;
      }

      h2,
      h2 a {
        line-height: 120% !important;
      }

      h3,
      h3 a {
        line-height: 120% !important;
      }

      h4,
      h4 a {
        line-height: 120% !important;
      }

      h5,
      h5 a {
        line-height: 120% !important;
      }

      h6,
      h6 a {
        line-height: 120% !important;
      }

      h1 {
        font-size: 30px !important;
        text-align: left;
      }

      h2 {
        font-size: 24px !important;
        text-align: left;
      }

      h3 {
        font-size: 20px !important;
        text-align: left;
      }

      h4 {
        font-size: 24px !important;
        text-align: left;
      }

      h5 {
        font-size: 20px !important;
        text-align: left;
      }

      h6 {
        font-size: 16px !important;
        text-align: left;
      }
    }

    @media screen and (max-width: 384px) {
      .mail-message-content {
        width: 414px !important;
      }
    }
  </style>
</head>

<body class="body" style="width: 100%; height: 100%; padding: 0; margin: 0">
  <div dir="ltr" class="es-wrapper-color" style="display: block; background-color: #ffffff; margin-top: 20px">
    <div style="display: flex; justify-content: center">
      <a target="_blank" href="" style="
            mso-line-height-rule: exactly;
            text-decoration: underline;
            color: #2d3142;
            font-size: 14px;
          "><img
          src="https://fetrvcv.stripocdn.email/content/guids/CABINET_055ba03e85e991c70304fecd78a2dceaf6b3f0bc1b0eb49336463d3599679494/images/vector.png"
          alt="Logo" style="
              display: block;
              font-size: 18px;
              border: 0;
              outline: none;
              text-decoration: none;
            " height="60" title="Logo" /></a>
    </div>
    <div style="margin: 12px; display: flex; justify-content: center">
      <div bgcolor="#efefef" style="
            width: 600px;
            border-collapse: collapse;
            border-spacing: 0px;
            background-color: #efefef;
            border-radius: 20px;
            padding: 40px;
          " role="none">
        <a target="_blank" href="" style="
              mso-line-height-rule: exactly;
              text-decoration: underline;
              color: #2d3142;
              font-size: 18px;
            "><img
            src="https://fetrvcv.stripocdn.email/content/guids/CABINET_ee77850a5a9f3068d9355050e69c76d26d58c3ea2927fa145f0d7a894e624758/images/group_4076323.png"
            alt="Confirm email" style="
                display: block;
                font-size: 18px;
                border: 0;
                outline: none;
                text-decoration: none;
                border-radius: 100px;
              " width="100" title="Confirm email" /></a>
        <div style="
              padding: 20px;
              margin: 20px 0px;
              background-color: #fafafa;
              border-radius: 10px;
              flex: auto;
              flex-direction: column;
            ">
          <h3 style="
                margin: 0;
                font-family: Imprima, Arial, sans-serif;
                mso-line-height-rule: exactly;
                letter-spacing: 0;
                font-size: 28px;
                font-style: normal;
                font-weight: bold;
                line-height: 34px;
                color: #2d3142;
              ">
            Estimado, {{record.name}}
          </h3>
          <br />
          <p style="
                margin: 0;
                mso-line-height-rule: exactly;
                font-family: Imprima, Arial, sans-serif;
                line-height: 27px;
                letter-spacing: 0;
                color: #2d3142;
                font-size: 18px;
              ">
            Queremos informarte que hemos completado la emisión de los
            certificados de retención correspondientes al período fiscal
            del Año anterior. Adjunto a este correo electrónico encontrarás
            el certificado de retención correspondiente a tus transacciones
            con nuestra empresa durante dicho período.
          </p>
          <br />
          <p style="
                margin: 0;
                mso-line-height-rule: exactly;
                font-family: Imprima, Arial, sans-serif;
                line-height: 27px;
                letter-spacing: 0;
                color: #2d3142;
                font-size: 18px;
              ">
            Por favor, revisa detenidamente el certificado adjunto y asegúrate
            de que todos los detalles sean correctos. En caso de encontrar
            alguna discrepancia o necesitar alguna aclaración, no dudes en
            ponerte en contacto con nosotros lo antes posible para que podamos
            abordar cualquier problema de manera oportuna.
          </p>
          <br />
          <p style="
                margin: 0;
                mso-line-height-rule: exactly;
                font-family: Imprima, Arial, sans-serif;
                line-height: 27px;
                letter-spacing: 0;
                color: #2d3142;
                font-size: 18px;
              ">
            Te recordamos que este certificado es un documento importante para
            efectos fiscales, por lo que te recomendamos guardar una copia en
            tus registros contables.
          </p>
          <br />
          <p style="
                    margin: 0;
                    mso-line-height-rule: exactly;
                    font-family: Imprima, Arial, sans-serif;
                    line-height: 27px;
                    letter-spacing: 0;
                    color: #2d3142;
                    font-size: 18px;
                  ">
            Agradecemos tu colaboración y esperamos seguir trabajando juntos
            en el futuro. Si tienes alguna pregunta adicional o necesitas
            asistencia, no dudes en contactarnos.
          </p>
        </div>
        <div>
          <span class="es-button-border msohide" style="
                                        border-style: solid;
                                        border-color: #2cb543;
                                        background: #7630f3;
                                        border-width: 0px;
                                        display: block;
                                        border-radius: 30px;
                                        width: auto;
                                        mso-hide: all;
                                        mso-border-alt: 10px;
                                      ">
                                      <a href="mailto:correo@empresa.com?subject=Novedad%20Certicado%20de%20Retenci%C3%B3n"
                                          class="es-button msohide" target="_blank" style="
                                          mso-style-priority: 100 !important;
                                          text-decoration: none !important;
                                          mso-line-height-rule: exactly;
                                          color: #ffffff;
                                          font-size: 22px;
                                          padding: 15px 20px 15px 20px;
                                          display: block;
                                          background: #7630f3;
                                          border-radius: 30px;
                                          font-family: Imprima, Arial,
                                            sans-serif;
                                          font-weight: bold;
                                          font-style: normal;
                                          line-height: 26px;
                                          width: auto;
                                          text-align: center;
                                          letter-spacing: 0;
                                          mso-padding-alt: 0;
                                          mso-border-alt: 10px solid #4114f7;
                                          mso-hide: all;
                                          padding-left: 5px;
                                          padding-right: 5px;
                                          border-color: #7630f3;
                                        ">Contactar</a></span>

        </div>
        <div style="margin-top: 40px;">
          <p style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: Imprima, Arial, sans-serif;
                                        line-height: 27px;
                                        letter-spacing: 0;
                                        color: #2d3142;
                                        font-size: 18px;
                                      ">
            Gracias,¡Saludos cordiales!
          </p>
          <p style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: Imprima, Arial, sans-serif;
                                        line-height: 27px;
                                        letter-spacing: 0;
                                        color: #2d3142;
                                        font-size: 18px;
                                      ">
            NAME EMPLOYEE
          </p>
          <p style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: Imprima, Arial, sans-serif;
                                        line-height: 27px;
                                        letter-spacing: 0;
                                        color: #2d3142;
                                        font-size: 18px;
                                      ">
            POSITION
          </p>
          <p style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: Imprima, Arial, sans-serif;
                                        line-height: 27px;
                                        letter-spacing: 0;
                                        color: #2d3142;
                                        font-size: 18px;
                                      ">
            COMPANY NAME
          </p>
          <p style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: Imprima, Arial, sans-serif;
                                        line-height: 27px;
                                        letter-spacing: 0;
                                        color: #2d3142;
                                        font-size: 18px;
                                      ">
            3124209739
          </p>
          <p style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: Imprima, Arial, sans-serif;
                                        line-height: 27px;
                                        letter-spacing: 0;
                                        color: #2d3142;
                                        font-size: 18px;
                                      ">
            company@mail.com
          </p>
       
        </div>
        <div>
          <hr />
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

            <img src="https://res.cloudinary.com/dl4sdiukx/image/upload/v1709573805/dihnsgzouubdtqy0xf2y.png" alt="Logo"
              style="
                                            display: block;
                                            font-size: 12px;
                                            border: 0;
                                            outline: none;
                                            text-decoration: none;
                                          " title="Logo" height="40" />
            <p style="
                                            margin: 0;
                                            mso-line-height-rule: exactly;
                                            font-family: Imprima, Arial, sans-serif;
                                            line-height: 21px;
                                            letter-spacing: 0;
                                            color: #2d3142;
                                            font-size: 14px;
                                          ">
              <a target="_blank" href="https://www.presik.com" style="
                                              mso-line-height-rule: exactly;
                                              text-decoration: underline;
                                              color: #2d3142;
                                              font-size: 14px;
                                            ">Correo enviado automaticamente desde
                sistema ERP presik</a>
            </p>
        </div>

    </div>
  </div>
</body>

</html>